/* Define the keyframes for the animation */
@keyframes blurIn {
  0% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(4px);
  }
}

@keyframes blurOut {
  0% {
    backdrop-filter: blur(4px);
  }
  100% {
    backdrop-filter: blur(0);
  }
}

/* Apply the CSS transitions for smooth animation */
.backdrop-enter {
  backdrop-filter: blur(0); /* Initial state */

  /* Animation on entrance with delay */
  animation: blurIn 0.1s ease-in-out 0.25s forwards;

  /* Animation on exit */
  transition: backdrop-filter 0.3s ease-in-out;

  /* Make sure to handle exit state with JavaScript/React */
}

/* Exit state (e.g., using JavaScript or React) */
.backdrop-exit {
  backdrop-filter: blur(4px);
  /* Animation on entrance with delay */
  animation: blurOut 0.2s ease-in-out 0.25s forwards;

  /* Animation on exit */
  transition: backdrop-filter 0.3s ease-in-out;
}


/* Define the keyframes for the animation */
@keyframes scaleAndFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleAndFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

/* Apply the CSS transitions for smooth animation */
.scale-enter {
  opacity: 0; /* Initial state */
  transform: scale(0.3); /* Initial state */

  /* Animation on entrance */
  animation: scaleAndFadeIn 0.3s ease forwards;

  /* Animation on exit */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Exit state (e.g., using JavaScript or React) */
.scale-exit {
  opacity: 0;
  transform: scale(0.3);
  /* Animation on entrance */
  animation: scaleAndFadeOut 0.3s ease forwards;

  /* Animation on exit */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-enter {
  opacity: 0; /* Initial state */
  transform: scale(0.3); /* Initial state */

  /* Animation on entrance */
  animation: scaleAndFadeIn 0.3s ease forwards;

  /* Animation on exit */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-enter::backdrop {
   backdrop-filter: blur(0); /* Initial state */

  /* Animation on entrance with delay */
  animation: blurIn 0.1s ease-in-out 0.25s forwards;

  /* Animation on exit */
  transition: backdrop-filter 0.3s ease-in-out;
}

.modal-exit {
  opacity: 0;
  transform: scale(0.3);
  /* Animation on entrance */
  animation: scaleAndFadeOut 0.3s ease forwards;

  /* Animation on exit */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-exit::backdrop {
   backdrop-filter: blur(4px);
  /* Animation on entrance with delay */
  animation: blurOut 0.2s ease-in-out 0.25s forwards;

  /* Animation on exit */
  transition: backdrop-filter 0.3s ease-in-out;
}