@keyframes scaleAnimation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to your element */
.scale-in-05 {
  animation: scaleAnimation 0.5s forwards;
  animation-fill-mode: both;
}

@keyframes blurAnimation {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(16px);
  }
}

/* Apply the animation to your element */
.backdrop-animate-05 {
  animation: blurAnimation 0.5s forwards;
  animation-fill-mode: both;
}

@keyframes ReverseblurAnimation {
  0% {
    backdrop-filter: blur(16px);
  }
  100% {
    backdrop-filter: blur(0px);
  }
}

/* Apply the animation to your element */
.reverse-backdrop-animate-05 {
  animation: ReverseblurAnimation 0.5s forwards;
  animation-fill-mode: both;
}

